<!-- Header -->
<%- include('partials/header') -%>

<!-- Body -->

    <!-- Creates blog posts on home page entered into /compose page -->

    <h1><%= pageTitle %></h1>
    <p><%= pageContent %></p>

    

    <!-- Footer -->
<%- include('partials/footer') -%>